# Torch models
*.pth
models/*

# C extensions
*.so

# log stuff:
*.log


# Pycache
**/__pycache__
**/*.pyc

# Jupyter Notebook
*.ipynb
**/__.ipynb_checkpoints
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build output
dist/
build/
*.egg-info/

# Spyder project settings
.spyderproject
.spyproject

